@model WeatherServiceWebApi.Model.WeatherModel

<h2>Add weather data</h2>
<form asp-action="WeatherSet" asp-controller="Weather">
    <p>
        <label asp-for="Id">Id</label><br />
        <input type="text" asp-for="Id" />
    </p>
    <p>
        <label asp-for="Temperature">Temperature</label><br />
        <input type="text" asp-for="Temperature" />
    </p>
    <p>
        <label asp-for="GeoLocation">Geo Location</label><br />
        <input type="text" asp-for="GeoLocation" />
    </p>
    <p>
        <input type="submit" value="Create" />
    </p>
</form>
