@model Microsoft.EntityFrameworkCore.DbSet<WeatherServiceWebApi.Model.WeatherModel>

<h2>List of weather data</h2>

<p><a asp-action="WeatherSet">Add Weather Data</a></p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Temperature</th>
        <th>GeoLocation</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Temperature</td>
            <td>@item.GeoLocation</td>
        </tr>
    }
</table>
