@model GeoDetectorWebApi.Model.GeoModel

<h2>Add geo data</h2>
<form asp-action="Create" asp-controller="Geo">
    <p>
        <label asp-for="Id">Id</label><br />
        <input type="text" asp-for="Id" />
    </p>
    <p>
        <label asp-for="Longitude">Longitude</label><br />
        <input type="text" asp-for="Longitude" />
    </p>
    <p>
        <label asp-for="Latitude">Latitude</label><br />
        <input type="text" asp-for="Latitude" />
    </p>
    <p>
        <label asp-for="Name">Name</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <input type="submit" value="Create" />
    </p>
</form>
